html{
    font-size: 62.5%
}

body{
    font: {
        family: 'Raleway', sans-serif;;
        size: 1.6rem;
    }
    user-select: none;
}
button {
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
li {
    list-style-type: none;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}