//Colors

$dark-blue: #25274d;

//Sizes
$s-size: 1.6rem;
$m-size: 2.5rem;

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Raleway');