//Colors

$dark-blue: #25274d;
$white: #ffffff;
$char_black: #262626;

//Sizes
$s-size: 1.6rem;
$m-size: 2.5rem;
$s-20: 1.25rem;
$s-17: 1.063rem;
$s-50: 3.125rem;

//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Raleway');